@import "../global.css";
body {
  background-color: rgba(204, 204, 204, 0.2);
  user-select: none;
  /* min-height: 100dvh; */
}
header {
  position: fixed;
  top: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  width: 100%;
  display: flex;
  height: 11dvh;
  justify-content: space-between;
  padding: 0 40px;
  align-items: center;
  background-color: #fff;
  z-index: 99;
}
@media (max-width: 640px) {
  header {
    padding: 0 10px;
  }
}
header h2 {
  font-size: 3rem;
  color: var(--color-black);
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
}
.user-icon {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.user-icon span {
  font-size: 1.4rem;
}
header i {
  font-size: 4rem;
  color: var(--color-black);
}
header img {
  height: 70px;
}
main {
  margin-top: 11.5dvh;
  height: 77dvh;
  /* padding-top: 30px; */
  position: relative;
  overflow-y: auto;
}
.datetime {
  color: #fff;
  margin: auto;
  background: #10101e;
  max-width: 400px;
  padding: 15px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 5px solid var(--color-blue);
  border-radius: 5px;
  transition: 0.5s;
  transition-property: background, box-shadow;
}
.datetime:hover {
  background: var(--color-blue);
  box-shadow: 0 0 30px var(--color-blue);
}
.date {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time {
  font-size: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.time span:not(:last-child) {
  position: relative;
  margin: 0 6px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 3px;
}
.time span:last-child {
  background: var(--color-blue);
  font-size: 30px;
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 10px;
  padding: 0 5px;
  border-radius: 3px;
}
.buttons {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 50px;
  position: absolute;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.aqua {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: bold;
  width: 150px;
  margin: auto;
  z-index: -1;
  position: relative;
  padding: 20px;
  border-radius: 60px;
  color: rgba(0, 0, 0, 90%);
  background: linear-gradient(
    180deg,
    rgba(96, 164, 234, 1) 30%,
    rgba(175, 249, 255, 1) 100%
  );
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 10%),
    inset 0 -1px 0px rgba(0, 0, 0, 20%), inset 2px 0 2px rgba(5, 96, 188, 50%),
    inset -2px 0 2px rgba(5, 96, 188, 50%),
    0 4px 2px -3px rgba(96, 164, 234, 60%), 0 2px 2px 0px rgba(0, 0, 0, 5%);
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.aqua:before {
  content: " ";
  display: block;
  position: absolute;
  top: 1px;
  left: 3px;
  right: 3px;
  bottom: 15px;
  border-radius: 250px 250px 80px 80px;
  background: linear-gradient(
    180deg,
    rgba(200, 213, 237, 1),
    rgba(150, 197, 244, 1) 60%
  );
  z-index: -1;
  transition: background 0.3s ease-in-out;
}
.aqua2 {
  background: linear-gradient(
    180deg,
    rgba(234, 96, 96, 1) 30%,
    rgba(255, 175, 175, 0.3) 100%
  );
  box-shadow: inset 0 1px 0px rgba(0, 0, 0, 10%),
    inset 0 -1px 0px rgba(0, 0, 0, 20%), inset 2px 0 2px rgba(188, 5, 5, 50%),
    inset -2px 0 2px rgba(188, 5, 5, 50%), 0 4px 2px -3px rgba(234, 96, 96, 60%),
    0 2px 2px 0px rgba(0, 0, 0, 5%);
}
.aqua2:before {
  background: linear-gradient(
    180deg,
    rgba(237, 200, 200, 1),
    rgba(244, 150, 150, 1) 60%
  );
}
.aqua:hover {
  background: linear-gradient(
    180deg,
    rgba(70, 136, 206, 1) 30%,
    rgba(155, 219, 255, 1) 100%
  );
  transform: translateY(-2px);
}
.aqua:hover:before {
  background: linear-gradient(
    180deg,
    rgba(237, 239, 242, 1),
    rgba(180, 211, 244, 1) 60%
  );
}
.aqua2:hover {
  background: linear-gradient(
    180deg,
    rgba(206, 70, 70, 1) 30%,
    rgba(255, 155, 155, 1) 100%
  );
}
.aqua2:hover:before {
  background: linear-gradient(
    180deg,
    rgba(242, 237, 237, 1),
    rgba(244, 180, 180, 1) 60%
  );
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 11dvh;
  display: flex;
  align-items: center;
  font-size: 1.6rem;
  font-weight: bold;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px 20px 0 0;
}
footer i {
  font-size: 3rem;
  margin-bottom: 8px;
}
footer p {
  margin: 0;
}
.footer-container {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: auto;
  align-items: center;
}
.footer-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--color-black);
  cursor: pointer;
}
.footer-item:hover,
.footer-item.selected {
  color: var(--color-blue);
}
@media (max-width: 768px) {
  .footer-container {
    width: 97%;
  }
  header h2 {
    font-size: 2.5rem;
  }
  footer p {
    font-size: 1.4rem;
  }
  footer i {
    font-size: 2.5rem;
  }
}
/* Add styles for the modal if needed */
.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 11vh; /* Adjusted from 11dvh to 11vh */
  width: 100%;
  height: 90%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  text-align: center;
  margin: 20px auto 0;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  max-width: 600px;
  height: 520px;
  position: relative;
}

.modal-heading {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 10px; /* Added margin bottom for spacing */
}

.close, i.fa-arrow-circle-left  {
  font-size: 4rem;
  color: #0056b3;
  padding: 0px 10px;
  font-weight: bold;
  cursor: pointer;
}
.close{
  float: right;
}
i.fa-arrow-circle-left{
  float: left;
}
.close:hover,
.close:focus, i.fa-arrow-circle-left:hover, i.fa-arrow-circle-left:focus {
  color: black;
}

.guardian-list,
.child-list {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  flex-wrap: wrap;
}

.child-list button,
.guardian-list button {
  display: block;
  padding: 30px;
  margin: 5px 20px 30px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #8888887e;
  font-weight: bold;
}

.child-list button.selected,
.child-list button:hover,
.guardian-list button:hover {
  background-color: #4caf50; /* Green */
  color: white;
}

.checkin-btnn {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
}

.checkin-btnn:hover {
  background-color: #0056b3;
}

.success-message {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 1000;
}

.error-message {
  color: red;
  font-weight: bold;
  font-size: 2rem;
  margin-top: 20px; /* Ensure proper spacing */
}
.checkin-details{
  font-size: 2rem;
  margin-top: 50px;
}
.bold-text {
  font-weight: bold;
}
.success-box{
  margin-top: 10%;
}
i.fa-check-circle{
  text-align: center;
  font-size: 5rem;
  color: green;
}




/* Dashboard */
.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
}
.dashboard-container {
  width: 85%;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 30px;
}
.row:first-child {
  margin-bottom: 40px;
}
.dashboard-item {
  display: flex;
  flex-direction: column;
  width: 250px;
  background-color: #fff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3);
}
.dashboard-title {
  padding: 5px;
  margin: 0;
  font-size: 2rem;
  color: #fff;
  font-weight: bold;
}
.dashboard-data {
  font-size: 8rem;
  text-align: center;
  margin: 0;
  color: var(--color-black);
}
.viewBtn {
  width: 80px;
  margin: 5px auto;
  border: none;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}
.viewBtn:hover {
  transform: scale(1.05);
}
.title-1,
#totalKidsBtn {
  background-color: purple;
}
.title-2,
#totalKidsPresentBtn {
  background-color: green;
}
.title-3,
#totalKidsAbsentBtn {
  background-color: red;
}
.title-4,
#totalCheckedOutBtn {
  background-color: brown;
}
.title-5,
#totalNotCheckedOutBtn {
  background-color: rgb(126, 83, 2);
}

/* Reports Page */
.report-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.report h3 {
  font-size: 2rem;
  margin: 30px 0;
}
.generate-report-btn {
  float: right;
  margin-bottom: 10px;
}

.date-selection {
  margin-bottom: 20px;
  font-size: 1.4rem;
  display: flex;
  gap: 10px;
}

.report h3 {
  margin-bottom: 10px;
}

#attendance-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1.4rem;
  color: black;
}

#attendance-table th,
#attendance-table td {
  padding: 8px;
  border: 1px solid #000;
  color: black;
}

#attendance-table th {
  background-color: #a3a3a369;
}

.download-options {
  margin: 20px auto 0;
  text-align: center;
}

.download-options button {
  margin-right: 10px;
}
/* For smaller screens */
@media screen and (max-width: 600px) {
  .report-container {
    padding: 10px;
  }

  .generate-report-btn {
    float: none;
    margin-bottom: 10px;
    width: 100%;
  }

  .date-selection {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .date-selection label,
  .date-selection input,
  .date-selection button {
    width: 48%;
    margin-bottom: 10px;
  }

  .report h3 {
    margin-bottom: 10px;
  }

  #attendance-table th,
  #attendance-table td {
    padding: 6px;
  }

  .download-options {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
  }

  .download-options button {
    margin-right: 10px;
    margin-bottom: 10px;
    flex-basis: 48%;
  }
}
button {
  cursor: pointer;
}
.reportsBtn {
  background-color: var(--color-black);
  width: max-content;
  padding: 10px;
}
.updateBtn {
  background-color: var(--color-black);
  border: none;
  border-radius: 5px;
  color: var(--color-white);
}
.updateBtn:hover {
  transform: scale(1.05);
}
#selected-date {
  cursor: pointer;
}
.dateDisplay {
  font-size: 1.4rem;
  font-weight: 600;
}

/* Profiles Page */

.profiles-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100%;
  background-color: #fff;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
}

.tab-links {
  margin-top: 20px;
}

.tab-links button {
  display: block;
  padding: 10px;
  color: #333;
  border: none;
}

.tab-links button.active {
  background-color: #ccc;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.top-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top-right-user {
  justify-content: flex-end;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 14px;
}

.search-btn {
  background-color: #45a049; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.search-btn:hover {
  transform: scale(1.05);
}
.filter-dropdown {
  position: relative;
}

#filter-button {
  padding: 10px 15px;
  background-color: #9e6004;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
}
#filter-button:hover {
  transform: scale(1.05);
}
.filters {
  position: absolute;
  /* top: calc(100% + 10px); */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.filters label {
  display: block;
  margin-bottom: 4px;
  font-size: 1.6rem;
  display: flex;
  margin-bottom: 4px;
}

.filters input[type="checkbox"] {
  margin-right: 8px;
  flex-shrink: 0;
}

/* Optional: Style checkbox appearance */
.filters input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.filters input[type="checkbox"]:checked {
  background-color: #007bff;
}
.clear-button {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #c82333;
}
@media screen and (max-width: 730px) {
 .search-bar{
  margin-bottom: 20px;
 }
}
.user,
.kid {
  display: flex;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.user {
  justify-content: space-between;
}
.kid .action-buttons {
  margin-left: auto;
}
.kid-name {
  width: 40%;
}
.serial-number {
  color: var(--color-black);
}
.user span,
.kid span {
  margin-right: 40px;
}

.view-btn {
  background-color: #4caf50; /* Green */
}

.edit-btn {
  background-color: #800080; /* Purple */
}

.delete-btn {
  background-color: #f52f03; /* Red */
}
.profiles-btn,
.view-btn,
.edit-btn,
.delete-btn {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 7px;
}
.add-btn {
  background-color: var(--color-blue);
  padding: 5px;
  margin: 0;
}
.profiles-btn:hover,
.view-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  transform: scale(1.05);
}
.kid span,
.user span,
.tab-links a {
  font-size: 1.6rem;
  font-weight: bold;
}
@media only screen and (max-width: 767px) {
  .user,
  .kid {
    flex-wrap: wrap;
  }

  .kid-name {
    width: 60%; 
  }

  .kid-gender {
    text-align: right;
    width: 5%;
  }

  .kid .action-buttons {
    width: 100%;
    margin: 10px auto 0
  }
}
