/* Profiles Page */

.profiles-container {
  display: flex;
  justify-content: center;
  padding: 20px;
  height: 100%;
  background-color: #fff;
}

.sidebar {
  width: 200px;
  padding: 20px;
  background-color: #f0f0f0;
}

.tab-links {
  margin-top: 20px;
}
.tab-links button {
  display: block;
  padding: 10px;
  color: #333;
  border: none;
}

.tab-links button.active {
  background-color: #ccc;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.top-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}
.top-right-user {
  justify-content: flex-end;
}
.search-bar {
  display: flex;
  align-items: center;
}

.search-bar input[type="text"] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
  font-size: 14px;
}

.search-btn {
  background-color: #45a049; /* Green */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.3s;
}

.search-btn:hover {
  transform: scale(1.05);
}
.filter-dropdown {
  position: relative;
}

#filter-button {
  padding: 10px 15px;
  background-color: #9e6004;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1.6rem;
}
#filter-button:hover {
  transform: scale(1.05);
}
.filters {
  position: absolute;
  /* top: calc(100% + 10px); */
  left: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  width: max-content;
}

.filters label {
  display: block;
  margin-bottom: 4px;
  font-size: 1.6rem;
  display: flex;
  margin-bottom: 4px;
}

.filters input[type="checkbox"] {
  margin-right: 8px;
  flex-shrink: 0;
}

/* Optional: Style checkbox appearance */
.filters input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  border-radius: 3px;
  cursor: pointer;
}

.filters input[type="checkbox"]:checked {
  background-color: #007bff;
}
.clear-button {
  margin-top: 8px;
  padding: 8px 16px;
  background-color: #dc3545;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.clear-button:hover {
  background-color: #c82333;
}
@media screen and (max-width: 730px) {
  .search-bar {
    margin-bottom: 20px;
  }
}
.user,
.kid {
  display: flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  /* align-items: center; */
  padding: 10px;
  border-bottom: 1px solid #ccc;
}
.user {
  justify-content: space-between;
}
.serial-number {
  color: var(--color-black);
}
.user span,
.kid span {
  margin-right: 40px;
}

.view-btn {
  background-color: #4caf50; /* Green */
}

.edit-btn {
  background-color: #800080; /* Purple */
}

.delete-btn {
  background-color: #f52f03; /* Red */
}
.action-buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.profiles-btn,
.view-btn,
.edit-btn,
.delete-btn {
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0;
}
.add-btn {
  background-color: var(--color-blue);
  padding: 10px;
  margin: 0;
}
.profiles-btn:hover,
.view-btn:hover,
.edit-btn:hover,
.delete-btn:hover {
  transform: scale(1.05);
}
.kid span,
.user span,
.tab-links a {
  font-size: 1.6rem;
  font-weight: bold;
}

@media (max-width: 768px){
    .profiles-container{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        margin: auto;
    }
    .tab-links{
        display: flex;
        flex-wrap: wrap;
        margin: 0;
    }
}
@media only screen and (max-width: 480px) {
  .user,
  .kid {
    flex-direction: column;
    text-align: left;
  }
  .person-name{
    text-align: left;
    width: 100%;

  }

  .action-buttons {
    width: 100%;
    margin: 10px auto 0;
  }
}



.profiles-form .form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
}
.modal-heading{
    margin: auto;
    width: max-content;
}
.error-message {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}

.profiles-form {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.profiles-form label {
  margin-bottom: 5px;
  font-size: 1.6rem;
  font-weight: bold;
}

.profiles-form input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1.4rem;
  width: 250px;
  text-align: center;
  margin: auto;
}
.profiles-form button{
    width: max-content;
    margin: auto;
}
.delete-modal-content{
    height: max-content;
    margin-top: 120px;
}
.delete-modal-heading{
    font-size: 2rem;
    font-weight: normal;
}